html, body {
    height: 100%;
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    width: 100%;
    padding: 15px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 5fr;
    gap: 15px;
    grid-template-areas:    "tabs imageMetaData"
                            "listImages selectedImage";
}

.tabs {
    grid-area: tabs;
}

/*.listImages {*/
/*    display: grid;*/
/*    grid-area: listImages;*/
/*    grid-template-columns: repeat(2,40%);*/
/*    grid-template-rows: unset;*/
/*    overflow: auto;*/
/*    grid-auto-flow:dense;*/
/*    background-color: #d6d0d087;*/
/*    border-radius: 10px;*/
/*}*/
.listImages {
    display: flex;
    flex-direction: row;
    grid-area: listImages;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    background-color: #d6d0d087;
    border-radius: 10px;
}

.imageMetaData {
    grid-area: imageMetaData;
}

.selectedImage {
    grid-area: selectedImage;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.preview {
    margin: 10px;
    border-radius: 10px;
    width: 40%;

}



.selectedImage {

    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.selected{
    border: 10px green solid;
}
